<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="LOGSTASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/logstash.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"app.groupArtifact" : "$APPLICATION"}</customFields>
		</encoder>
	</appender>

	<logger name="com.spirebase" level="debug" />

	<logger name="org.springframework" level="info" />
	<logger name="org.zaxxer" level="info" />
	<logger name="org.hibernate" level="warn" />
	<logger name="com.netflix" level="warn" />

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOGSTASH" />
	</root>

</configuration>